
LGC_Motiv_results/mental_calibPerf_subNC_s000.mat
LGC_Motiv_results/NC_s000_session00_mental_task_messyAllStuff.mat
*.asv
LGC_Motiv_task/~$ECKS IRMf.docx
LGC_Motiv_task/~$ECKS MRS.docx
LGC_Motiv_task/~$checks_experiment.xlsx
LGC_Motiv_task/~$sk_INSTRUCTIONS_for_experimenter.docx
LGC_Motiv_task/~WRL0003.tmp
LGC_Motiv_task/~WRL2946.tmp
LGC_Motiv_results/training_data_CID066.mat
LGC_Motiv_results/training_data_CID066_mental_repeat_nb1_session_nbsession_nb2_effort_lvl1_behavioral_tmp.mat
LGC_Motiv_results/training_data_CID066_mental_repeat_nb1_session_nbsession_nb4_effort_lvl1_behavioral_tmp.mat
LGC_Motiv_results/CID666/behavior/CID666_physicalCalib.mat
LGC_Motiv_task/main_TRAINING.m
LGC_Motiv_task/main_TRAINING.m
LGC_Motiv_analysis/test.m
LGC_Motiv_results/study1/~$summary_participants_infos.xlsx
