
LGC_Motiv_results/mental_calibPerf_subNC_s000.mat
LGC_Motiv_results/NC_s000_session00_mental_task_messyAllStuff.mat
*.asv
LGC_Motiv_task/~$ECKS IRMf.docx
LGC_Motiv_task/~$ECKS MRS.docx
LGC_Motiv_task/~$checks_experiment.xlsx
